body{
	box-sizing: border-box;
}
.site-title{
	padding: 7em 0;
	background-image: url(coding.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
}
.subtitle, h1{
	color: white;
}
.main{
	background-color: #adadf0;
}
.card-container{
	width: 1000px;
	margin: 0 auto;
}
.card-container-body{
	width: 100%;
	background-color: #191963;
}
.inner{
	overflow: hidden;
}
.inner img{
	transition: all 1.5s ease;
}
.inner:hover img{
	transform: scale(1.5);
}
.about{
	background-color: #ccccdb;
}
.contact{
	background-color: #daccdb;
}
footer{
	background-color: black;
}